@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  
}

.leftArrowCarrusel{
  margin-right: 1%;
  font-size: 3.5rem;
  position: absolute;
  top: 50%;
  left: 20%;
}

.leftArrowCarrusel :hover{
  scale: 1.1;
}

.rightArrowCarrusel{
  margin-left: 1%;
  font-size: 3.5rem;
  position: absolute;
  top: 50%;
  right: 20%;

}
.rightArrowCarrusel :hover{
  scale: 1.1;
}